<h2>All years to different files</h2>

<h2>All years together</h2>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [14]:
combined = pd.concat([ODI_df, T20I_df, TEST_df], ignore_index=True)

In [16]:
combined

,Year,Team 1,Team 2,Winner 3,Margin,Ground,Match_Date,ScoreCard Text,ScoreCard URL,Format
0,2010,Bangladesh,Sri Lanka,Sri Lanka,7 wickets,Mirpur,"Jan 4, 2010",ODI # 2937,/ci/engine/match/434258.html,ODI
1,2010,India,Sri Lanka,Sri Lanka,5 wickets,Mirpur,"Jan 5, 2010",ODI # 2938,/ci/engine/match/434259.html,ODI
2,2010,Bangladesh,India,India,6 wickets,Mirpur,"Jan 7, 2010",ODI # 2939,/ci/engine/match/434260.html,ODI
3,2010,Bangladesh,Sri Lanka,Sri Lanka,9 wickets,Mirpur,"Jan 8, 2010",ODI # 2940,/ci/engine/match/434261.html,ODI
4,2010,India,Sri Lanka,India,8 wickets,Mirpur,"Jan 10, 2010",ODI # 2941,/ci/engine/match/434262.html,ODI
...,...,...,...,...,...,...,...,...,...,...
4085,2023,India,Australia,Australia,9 wickets,Indore,"Mar 1-3, 2023",Test # 2496,/ci/engine/match/1348654.html,Test
4086,2023,South Africa,West Indies,South Africa,284 runs,Johannesburg,"Mar 8-11, 2023",Test # 2497,/ci/engine/match/1339600.html,Test
4087,2023,New Zealand,Sri Lanka,New Zealand,2 wickets,Christchurch,"Mar 9-13, 2023",Test # 2498,/ci/engine/match/1322357.html,Test
4088,2023,India,Australia,drawn,,Ahmedabad,"Mar 9-13, 2023",Test # 2499,/ci/engine/match/1348655.html,Test
4089,2023,New Zealand,Sri Lanka,New Zealand,inns & 58 runs,Wellington,"Mar 17-20, 2023",Test # 2500,/ci/engine/match/1322358.html,Test

In [17]:
combined.to_csv('Combined_Teams.csv', index=False)

In [2]:
# ODI
# create a list of year values for which you want to scrape data
year_list = [2010,2011,2012,2013,2014,2015,2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

# create an empty DataFrame to store the combined data
ODI_df = pd.DataFrame(columns=['Year', 'Team 1', 'Team 2', 'Winner 3', 'Margin', 'Ground', 'Match_Date', 'ScoreCard Text', 'ScoreCard URL'])

# loop over the year values
for year in year_list:
    # generate the URL for the current year
    url = f'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=2;id={year};type=year'

    # send a request to the URL and get the response
    response = requests.get(url)

    # create a BeautifulSoup object
    soup = BeautifulSoup(response.text, 'html.parser')

    # find the table you want to extract data from
    table = soup.find('table')

    # extract the table data
    table_data = []
    for row in table.find('tbody').find_all('tr'):
        row_data = []
        for i, cell in enumerate(row.find_all('td')):
            # check if this is the 7th column
            if i == 6:
                # get the hyperlink text and URL
                hyperlink = cell.find('a')
                if hyperlink:
                    row_data.append(hyperlink.text)
                    row_data.append(hyperlink['href'])
                else:
                    row_data.append('')
                    row_data.append('')
            else:
                row_data.append(cell.text)
        row_data.insert(0, year)  # insert the year value as the first column
        table_data.append(row_data)

    # create a pandas DataFrame to store the data for the current year
    df = pd.DataFrame(table_data, columns=['Year', 'Team 1', 'Team 2', 'Winner 3', 'Margin', 'Ground', 'Match_Date', 'ScoreCard Text', 'ScoreCard URL'])

    # append the data for the current year to the combined DataFrame
    ODI_df = pd.concat([ODI_df, df], ignore_index=True)

# export the combined DataFrame to a CSV file
#combined_df.to_csv('all_years.csv', index=False)

In [5]:
ODI_df

,Year,Team 1,Team 2,Winner 3,Margin,Ground,Match_Date,ScoreCard Text,ScoreCard URL,Format
0,2010,Bangladesh,Sri Lanka,Sri Lanka,7 wickets,Mirpur,"Jan 4, 2010",ODI # 2937,/ci/engine/match/434258.html,ODI
1,2010,India,Sri Lanka,Sri Lanka,5 wickets,Mirpur,"Jan 5, 2010",ODI # 2938,/ci/engine/match/434259.html,ODI
2,2010,Bangladesh,India,India,6 wickets,Mirpur,"Jan 7, 2010",ODI # 2939,/ci/engine/match/434260.html,ODI
3,2010,Bangladesh,Sri Lanka,Sri Lanka,9 wickets,Mirpur,"Jan 8, 2010",ODI # 2940,/ci/engine/match/434261.html,ODI
4,2010,India,Sri Lanka,India,8 wickets,Mirpur,"Jan 10, 2010",ODI # 2941,/ci/engine/match/434262.html,ODI
...,...,...,...,...,...,...,...,...,...,...
1617,2023,Namibia,P.N.G.,Namibia,48 runs,Windhoek,"Mar 29, 2023",ODI # 4554,/ci/engine/match/1365096.html,ODI
1618,2023,Namibia,Jersey,Namibia,8 wickets,Windhoek,"Mar 30, 2023",ODI # 4555,/ci/engine/match/1365097.html,ODI
1619,2023,U.A.E.,U.S.A.,U.S.A.,5 wickets,Windhoek,"Mar 30, 2023",ODI # 4556,/ci/engine/match/1365098.html,ODI
1620,2023,New Zealand,Sri Lanka,New Zealand,6 wickets,Hamilton,"Mar 31, 2023",ODI # 4557,/ci/engine/match/1322361.html,ODI
1621,2023,South Africa,Netherlands,South Africa,8 wickets,Benoni,"Mar 31, 2023",ODI # 4558,/ci/engine/match/1339607.html,ODI

In [4]:
ODI_df['Format'] = 'ODI'

In [8]:
# export the combined dataframe to a CSV file
ODI_df.to_csv('ODITeams.csv', index=False)

In [6]:
# T20I
# create a list of year values for which you want to scrape data
year_list = [2010,2011,2012,2013,2014,2015,2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

# create an empty DataFrame to store the combined data
T20I_df = pd.DataFrame(columns=['Year', 'Team 1', 'Team 2', 'Winner 3', 'Margin', 'Ground', 'Match_Date', 'ScoreCard Text', 'ScoreCard URL'])

# loop over the year values
for year in year_list:
    # generate the URL for the current year
    url = f'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=3;id={year};type=year'

    # send a request to the URL and get the response
    response = requests.get(url)

    # create a BeautifulSoup object
    soup = BeautifulSoup(response.text, 'html.parser')

    # find the table you want to extract data from
    table = soup.find('table')

    # extract the table data
    table_data = []
    for row in table.find('tbody').find_all('tr'):
        row_data = []
        for i, cell in enumerate(row.find_all('td')):
            # check if this is the 7th column
            if i == 6:
                # get the hyperlink text and URL
                hyperlink = cell.find('a')
                if hyperlink:
                    row_data.append(hyperlink.text)
                    row_data.append(hyperlink['href'])
                else:
                    row_data.append('')
                    row_data.append('')
            else:
                row_data.append(cell.text)
        row_data.insert(0, year)  # insert the year value as the first column
        table_data.append(row_data)

    # create a pandas DataFrame to store the data for the current year
    df = pd.DataFrame(table_data, columns=['Year', 'Team 1', 'Team 2', 'Winner 3', 'Margin', 'Ground', 'Match_Date', 'ScoreCard Text', 'ScoreCard URL'])

    # append the data for the current year to the combined DataFrame
    T20I_df = pd.concat([T20I_df, df], ignore_index=True)

# export the combined DataFrame to a CSV file
#combined_df.to_csv('all_years.csv', index=False)

In [9]:
T20I_df

,Year,Team 1,Team 2,Winner 3,Margin,Ground,Match_Date,ScoreCard Text,ScoreCard URL,Format
0,2010,Afghanistan,Ireland,Ireland,5 wickets,Colombo (PSS),"Feb 1, 2010",T20I # 128,/ci/engine/match/440224.html,T20I
1,2010,Kenya,Scotland,Kenya,10 wickets,Nairobi (Gym),"Feb 1, 2010",T20I # 129,/ci/engine/match/440100.html,T20I
2,2010,Canada,Ireland,Canada,4 runs,Colombo (SSC),"Feb 3, 2010",T20I # 130,/ci/engine/match/440218.html,T20I
3,2010,New Zealand,Bangladesh,New Zealand,10 wickets,Hamilton,"Feb 3, 2010",T20I # 131,/ci/engine/match/423782.html,T20I
4,2010,Afghanistan,Canada,Afghanistan,5 wickets,Colombo (SSC),"Feb 4, 2010",T20I # 132,/ci/engine/match/440219.html,T20I
...,...,...,...,...,...,...,...,...,...,...
1906,2023,Bangladesh,Ireland,Bangladesh,22 runs,Chattogram,"Mar 27, 2023",T20I # 2034,/ci/engine/match/1355720.html,T20I
1907,2023,Afghanistan,Pakistan,Pakistan,66 runs,Sharjah,"Mar 27, 2023",T20I # 2035,/ci/engine/match/1362817.html,T20I
1908,2023,South Africa,West Indies,West Indies,7 runs,Johannesburg,"Mar 28, 2023",T20I # 2036,/ci/engine/match/1339606.html,T20I
1909,2023,Bangladesh,Ireland,Bangladesh,77 runs,Chattogram,"Mar 29, 2023",T20I # 2037,/ci/engine/match/1355721.html,T20I
1910,2023,Bangladesh,Ireland,Ireland,7 wickets,Chattogram,"Mar 31, 2023",T20I # 2038,/ci/engine/match/1355722.html,T20I

In [8]:
T20I_df['Format'] = 'T20I'

In [11]:
# export the combined DataFrame to a CSV file
T20I_df.to_csv('T20ITeams.csv', index=False)

In [10]:
# TEST
# create a list of year values for which you want to scrape data
year_list = [2010,2011,2012,2013,2014,2015,2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

# create an empty DataFrame to store the combined data
TEST_df = pd.DataFrame(columns=['Year', 'Team 1', 'Team 2', 'Winner 3', 'Margin', 'Ground', 'Match_Date', 'ScoreCard Text', 'ScoreCard URL'])

# loop over the year values
for year in year_list:
    # generate the URL for the current year
    url = f'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=1;id={year};type=year'

    # send a request to the URL and get the response
    response = requests.get(url)

    # create a BeautifulSoup object
    soup = BeautifulSoup(response.text, 'html.parser')

    # find the table you want to extract data from
    table = soup.find('table')

    # extract the table data
    table_data = []
    for row in table.find('tbody').find_all('tr'):
        row_data = []
        for i, cell in enumerate(row.find_all('td')):
            # check if this is the 7th column
            if i == 6:
                # get the hyperlink text and URL
                hyperlink = cell.find('a')
                if hyperlink:
                    row_data.append(hyperlink.text)
                    row_data.append(hyperlink['href'])
                else:
                    row_data.append('')
                    row_data.append('')
            else:
                row_data.append(cell.text)
        row_data.insert(0, year)  # insert the year value as the first column
        table_data.append(row_data)

    # create a pandas DataFrame to store the data for the current year
    df = pd.DataFrame(table_data, columns=['Year', 'Team 1', 'Team 2', 'Winner 3', 'Margin', 'Ground', 'Match_Date', 'ScoreCard Text', 'ScoreCard URL'])

    # append the data for the current year to the combined DataFrame
    TEST_df = pd.concat([TEST_df, df], ignore_index=True)

# export the combined DataFrame to a CSV file
#combined_df.to_csv('all_years.csv', index=False)

In [13]:
TEST_df

,Year,Team 1,Team 2,Winner 3,Margin,Ground,Match_Date,ScoreCard Text,ScoreCard URL,Format
0,2010,Australia,Pakistan,Australia,36 runs,Sydney,"Jan 3-6, 2010",Test # 1945,/ci/engine/match/406200.html,Test
1,2010,South Africa,England,drawn,,Cape Town,"Jan 3-7, 2010",Test # 1946,/ci/engine/match/387572.html,Test
2,2010,Australia,Pakistan,Australia,231 runs,Hobart,"Jan 14-18, 2010",Test # 1947,/ci/engine/match/406201.html,Test
3,2010,South Africa,England,South Africa,inns & 74 runs,Johannesburg,"Jan 14-17, 2010",Test # 1948,/ci/engine/match/387573.html,Test
4,2010,Bangladesh,India,India,113 runs,Chattogram,"Jan 17-21, 2010",Test # 1949,/ci/engine/match/434256.html,Test
...,...,...,...,...,...,...,...,...,...,...
552,2023,India,Australia,Australia,9 wickets,Indore,"Mar 1-3, 2023",Test # 2496,/ci/engine/match/1348654.html,Test
553,2023,South Africa,West Indies,South Africa,284 runs,Johannesburg,"Mar 8-11, 2023",Test # 2497,/ci/engine/match/1339600.html,Test
554,2023,New Zealand,Sri Lanka,New Zealand,2 wickets,Christchurch,"Mar 9-13, 2023",Test # 2498,/ci/engine/match/1322357.html,Test
555,2023,India,Australia,drawn,,Ahmedabad,"Mar 9-13, 2023",Test # 2499,/ci/engine/match/1348655.html,Test
556,2023,New Zealand,Sri Lanka,New Zealand,inns & 58 runs,Wellington,"Mar 17-20, 2023",Test # 2500,/ci/engine/match/1322358.html,Test

In [12]:
TEST_df['Format'] = 'Test'

In [16]:
# export the combined DataFrame to a CSV file
TEST_df.to_csv('TestTeams.csv', index=False)

<h1>Not relevant</h1>

In [70]:
all_matches_df = pd.DataFrame(columns=['Year', 'Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match_Date', 'Innings 1 Batting', 'Innings 2 Batting', 'Innings 1 Bowling', 'Innings 2 Bowling'])

In [71]:
def fix_url(url):
    return 'https://stats.espncricinfo.com' + url

combined_df['ScoreCard URL'] = combined_df['ScoreCard URL'].apply(fix_url)

In [ ]:
for index, row in combined_df.iterrows():
    scorecard_url = row['ScoreCard URL']
    response = requests.get(scorecard_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    innings_tables = soup.find_all('table', {'class': 'batting-table innings'})
    innings_bowling_tables = soup.find_all('table', {'class': 'bowling-table innings'})

<h2>OLD....Saving Years file before combining</h2>

,Year,Team 1,Team 2,Winner 3,Margin,Ground,Match_Date,ScoreCard Text,ScoreCard URL
0,2016,None,None,None,None,None,None,None,None
1,2016,New Zealand,Sri Lanka,no result,,Nelson,"Jan 2, 2016",ODI # 3718,/ci/engine/match/914213.html
2,2016,Afghanistan,Zimbabwe,Zimbabwe,117 runs,Sharjah,"Jan 2, 2016",ODI # 3719,/ci/engine/match/953339.html
3,2016,Afghanistan,Zimbabwe,Zimbabwe,65 runs,Sharjah,"Jan 4, 2016",ODI # 3720,/ci/engine/match/953341.html
4,2016,New Zealand,Sri Lanka,New Zealand,36 runs,Mount Maunganui,"Jan 5, 2016",ODI # 3721,/ci/engine/match/914215.html
...,...,...,...,...,...,...,...,...,...
834,2023,South Africa,West Indies,South Africa,4 wickets,Potchefstroom,"Mar 21, 2023",ODI # 4544,/ci/engine/match/1339603.html
835,2023,India,Australia,Australia,21 runs,Chennai,"Mar 22, 2023",ODI # 4545,/ci/engine/match/1348658.html
836,2023,Zimbabwe,Netherlands,Zimbabwe,1 run,Harare,"Mar 23, 2023",ODI # 4546,/ci/engine/match/1362380.html
837,2023,Bangladesh,Ireland,Bangladesh,10 wickets,Sylhet,"Mar 23, 2023",ODI # 4547,/ci/engine/match/1355719.html
838,2023,New Zealand,Sri Lanka,-,,Auckland,"Mar 25, 2023",ODI # 4548,/ci/engine/match/1322359.html

In [32]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# define the years you want to extract data for
years = [2023,2022, 2021, 2020,2019,2018,2017,2916,2015,2014]

# create an empty list to store the dataframes for each year
year_dfs = []

# loop through each year and extract the data
for year in years:
    url = f'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=2;id={year};type=year'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')

    # extract the table data
    table_data = []
    for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all('td'):
            row_data.append(cell.text)
        table_data.append(row_data)

    # create a pandas DataFrame to store the data
    df = pd.DataFrame(table_data[1:], columns=['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match_Date', 'ScoreCard'])

    # add a 'Year' column to the dataframe
    df['Year'] = year

    # add the dataframe to the list
    year_dfs.append(df)

# concatenate the dataframes for each year into a single dataframe
combined_df2 = pd.concat(year_dfs, ignore_index=True)

# export the combined dataframe to a CSV file
#combined_df.to_csv('combined_results.csv', index=False)

In [33]:
combined_df2

,Team 1,Team 2,Winner,Margin,Ground,Match_Date,ScoreCard,Year
0,Pakistan,New Zealand,Pakistan,6 wickets,Karachi,"Jan 9, 2023",ODI # 4500,2023
1,India,Sri Lanka,India,67 runs,Guwahati,"Jan 10, 2023",ODI # 4501,2023
2,Pakistan,New Zealand,New Zealand,79 runs,Karachi,"Jan 11, 2023",ODI # 4502,2023
3,India,Sri Lanka,India,4 wickets,Eden Gardens,"Jan 12, 2023",ODI # 4503,2023
4,Pakistan,New Zealand,New Zealand,2 wickets,Karachi,"Jan 13, 2023",ODI # 4504,2023
...,...,...,...,...,...,...,...,...
994,Sri Lanka,England,Sri Lanka,90 runs,Pallekele,"Dec 13, 2014",ODI # 3567,2014
995,New Zealand,Pakistan,Pakistan,147 runs,Sharjah,"Dec 14, 2014",ODI # 3568,2014
996,Sri Lanka,England,Sri Lanka,87 runs,Colombo (RPS),"Dec 16, 2014",ODI # 3569,2014
997,New Zealand,Pakistan,New Zealand,7 runs,Abu Dhabi,"Dec 17, 2014",ODI # 3570,2014
998,New Zealand,Pakistan,New Zealand,68 runs,Abu Dhabi,"Dec 19, 2014",ODI # 3571,2014

In [49]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# define the years you want to extract data for
years = [2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]

# create an empty list to store the dataframes for each year
year_dfs = []

# loop through each year and extract the data
for year in years:
    url = f'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=2;id={year};type=year'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')

    # extract the table data
    table_data = []
    for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all('td'):
            if cell.find('a') and 'Scorecard' in cell.find('a').text:
                row_data.append(cell.find('a').get('href'))
            else:
                row_data.append(cell.text)
        table_data.append(row_data)

    # create a pandas DataFrame to store the data
    df = pd.DataFrame(table_data[1:], columns=['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match_Date', 'Scorecard'])

    # add a 'Year' column to the dataframe
    df['Year'] = year

    # add the dataframe to the list
    year_dfs.append(df)

# concatenate the dataframes for each year into a single dataframe
combined_df4 = pd.concat(year_dfs, ignore_index=True)

# export the combined dataframe to a CSV file
#combined_df4.to_csv('combined_years.csv', index=False)

In [50]:
combined_df4

,Team 1,Team 2,Winner,Margin,Ground,Match_Date,Scorecard,Year
0,Pakistan,New Zealand,Pakistan,6 wickets,Karachi,"Jan 9, 2023",ODI # 4500,2023
1,India,Sri Lanka,India,67 runs,Guwahati,"Jan 10, 2023",ODI # 4501,2023
2,Pakistan,New Zealand,New Zealand,79 runs,Karachi,"Jan 11, 2023",ODI # 4502,2023
3,India,Sri Lanka,India,4 wickets,Eden Gardens,"Jan 12, 2023",ODI # 4503,2023
4,Pakistan,New Zealand,New Zealand,2 wickets,Karachi,"Jan 13, 2023",ODI # 4504,2023
...,...,...,...,...,...,...,...,...
1093,Sri Lanka,England,Sri Lanka,90 runs,Pallekele,"Dec 13, 2014",ODI # 3567,2014
1094,New Zealand,Pakistan,Pakistan,147 runs,Sharjah,"Dec 14, 2014",ODI # 3568,2014
1095,Sri Lanka,England,Sri Lanka,87 runs,Colombo (RPS),"Dec 16, 2014",ODI # 3569,2014
1096,New Zealand,Pakistan,New Zealand,7 runs,Abu Dhabi,"Dec 17, 2014",ODI # 3570,2014
1097,New Zealand,Pakistan,New Zealand,68 runs,Abu Dhabi,"Dec 19, 2014",ODI # 3571,2014